{
  
"envname": "Infra env",
"timewindow" : 300,

"email": {
    "from": "from@somewhere.com",
    "to":  ["toaddr01@gmail.com","toaddr01@gmail.com"],
    "cc": ["ccaddr01@gmail.com"],
    "bcc": [],
    },

"smtp": {
    "host": "postbud220.trv.flytxt.com",
    "port": 25
    }
}
